# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next
/out

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*debug.log*
*debug.*.log*

# Local env files
.env*.local
!.env.example

# Firebase Service Account Key (Important!)
# Add the specific name of your service account key file if not covered by .env*.local
# Example: service-account-key.json
*.json

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Patch Package
patches/

# Turbopack
.turbo/
